body {
	background: #483c6c;
	width: 100%;
}
#header {margin: 5%;
		padding-bottom: 5%; }
.logo {float: left;
		width: 10%;
		padding-right: 15%;}

.logotype {width: 25%;
		float:left;
		padding-left: 15%;}
.hamburger {float: left;
			width: 5%;
			height: 5%;
			padding-left: 15%;}
.hero {background-color: #cc3366;
height: 300px;
width: 100%;
border-width: 10px;
border-style: solid;
border-color: #cc3366;}
#slogan {font-style: italic;}

h1 {
	font-size: 48px;
	font-family: arial;
    color: #fff;
    text-align: left;
    letter-spacing: .5px;

}
 
p {
    color: #fff;
    letter-spacing: 1px;
    text-align: left;
    font-family: arial;
}

ul { font-family: arial;
color:#fff;
line-height: 130%;}
